@import "tailwindcss";
@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
@theme {
  --size-chess-size: min(calc((100vh - 5rem) * 0.8), calc(100vw - 5rem) * 0.8);
  --size-chess-square: calc(var(--size-chess-size) / 8);
  --height-chess-h: calc(var(--size-chess-size));
  --width-desktop-w: calc(var(--size-chess-size) * 0.5);

  --text-2xs: 0.65rem;
  --text-2xs--line-height: 0.975rem;

  --color-darkSquare: #b58863;
  --color-lightSquare: #f0d9b5;
  --color-previousMoveLight: #cdd16a;
  --color-previousMoveDark: #aaa23a;

  --drop-shadow-sfOn: 0 0 0.75rem oklch(87.9% 0.169 91.605);
  --drop-shadow-wPiece: 0 0 0.15rem oklch(20.019% 0.00002 271.152);
  --drop-shadow-bPiece: 0 0 0.2rem oklch(100% 0.00011 271.152);
}
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant progress-filled (&::-webkit-progress-bar, &);
@custom-variant progress-unfilled (&::-webkit-progress-value, &::-moz-progress-bar);
