@import "tailwindcss";
@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
@theme {
  /*
  --animate-pop: cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    100% {
      transform: translate3d(-10%, -10%, 0) scale(1.5);
    }
  }

Need to figure this out later
 */
  --color-darkSquare: #b58863;
  --color-lightSquare: #f0d9b5;
  --color-previousMoveLight: #cdd16a;
  --color-previousMoveDark: #aaa23a;
}
@custom-variant progress-filled (&::-webkit-progress-bar, &);
@custom-variant progress-unfilled (&::-webkit-progress-value, &::-moz-progress-bar);
@custom-variant limitedHeight (@media (max-height: 900px));
